<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding *ngFor="let user of users" 
      [class.selected]="user === selectedUser" 
      (click)="openSettings(user)"> -->
      
<ion-content>
  <ion-list class="user-list">
    <ng-container *ngFor="let user of users">
      <users-list [userList]="user"></users-list>
    </ng-container>
  </ion-list>
</ion-content>