<ion-title>
  <ion-item>Informações - Cliente ID: {{ user_info.id }}</ion-item>
  <ion-item>Nome completo: {{ user_info.name }}</ion-item>
  <ion-item>E-mail: {{ user_info.email }}</ion-item>
  <ion-item>Telefone: {{ user_info.phone }}</ion-item>
  <ion-item>Nome de usuário: {{ user_info.username }}</ion-item>
  <ion-item>Web Site: <a href="http://{{ user_info.website }}">{{ user_info.website }}</a></ion-item>
  <!-- <ion-item>Endereço: {{ user_info.address.street }} - {{ user_info.address.city }} - {{ user_info.address.zipcode }}</ion-item>
  <ion-item>Empresa: {{ user_info.company.name }}</ion-item> -->
  <ion-item class="album-list-link" (click)="goToOtherPage()">Listar Albuns deste usuário</ion-item>
</ion-title>



