users-details .toolbar-title-md {
    width: 500px;
    height: 500px;
    background-color: white;
}

.album-list-link{
    background-color: #dedede;
}

.album-list-link:hover {
    background-color: #c2c2c2;
}